#comic-list{
    margin-bottom: 50px;
    .comic-card{
        
        margin-top: 50px;

        .comic-description{
            height: 150px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}